= simple_form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .row
    = f.input :header, :label => 'Overskrift'
  .row
    = f.input :question, :label => 'Spørgsmål'
  .row
    = f.button :submit, :value => 'Gem'
