- @questions_option = QuestionsOption.new(question_id: @question.id)
= simple_form_for @questions_option do |f|
  - if @questions_option.errors.any?
    #error_explanation
      %h2= "#{pluralize(@questions_option.errors.count, "error")} prohibited this questions_option from being saved:"
      %ul
        - @questions_option.errors.full_messages.each do |msg|
          %li= msg

  .row.pushright
    = f.input :question_id, :as => :hidden
    = f.input :label, :label => 'Valg'
    .pushright
      = f.label :correct, 'Korrekt svar'
      = f.radio_button :correct, 1
    .pushright
      = f.label :correct, 'Forkert svar'
      = f.radio_button :correct, 0
  .row.pushright
    = f.button :submit, :value => 'Gem valgmulighed', :class => 'btn btn-danger'
