- t = Time.now
- if t.month == 12
  - today = Answer.where("DATE(created_at) = DATE(?)", Time.now).first
  - if today.present?
    - @question = today.question
  - else
    - @question = Question.where('id NOT IN (SELECT question_id FROM answers)').order('rand()').first
    - create = Answer.new(:question_id => @question.id)
    - create.save
  -# @options = QuestionsOption.find_all_by_question_id(@question.id)
  - @answer = Answer.new(:question_id => @question.id)
  .spacer.large
  .row
    .span12
      %h4 Dagens Spørgsmål
      %h5= @question.header
      %p= @question.question
      %p
        Svar
        %br
        = simple_form_for @answer do |f|
          = f.input :user_id, :input_html => {:value => current_user.id}, :as => :hidden
          = f.input :question_id, :as => :hidden
          = f.collection_select :answer, @question.questions_options, :id, :label
          = f.button :submit, :value => 'Indsend svar', :class => 'btn btn-primary'
          = link_to 'Tilbage', root_path, :class => 'btn btn-danger'
- else
  %h3 Julekalenderen åbner først til December

