!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title= Julekalender
    = stylesheet_link_tag    "application", media: 'all'
    = stylesheet_link_tag    "print", media: 'print'
    = javascript_include_tag "application"
    = content_for :javascript_includes
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = link_to root_path, :class => 'brand' do
            UCSyddanmarks Julekalender.
          - if current_user
            .pull-right{:style => 'color:white;'}
              .span4
                = current_user.name
                - if current_user.usertype == 9
                  = link_to 'Opret spørgsmål', new_question_path, :class => 'btn btn-primary'
                = link_to 'Log ud', '/logout', :class => 'btn btn-warning'
          - else
            .pull-right
              = link_to 'Tilmeld', '/signup', :class => 'btn btn-danger'
              = link_to 'Log ind', '/login', :class => 'btn btn-primary'
    .container
      .spacer.head
      %section
        .spacer.large
        - if !current_user
          = yield
          %hr
          .row
            .span3= link_to 'Vi byder nye nisser velkommen', '/signup', :class => 'btn btn-danger'
          .spacer.large
          .row.span6
            eller hvis du har været her før kan du
            = link_to 'logge ind her.', '/login'
        - else
          = yield
          - answered = current_user.answers.where("DATE(answers.created_at) = DATE(?)", Time.now)
          - if answered.count > 0
            %span.label.label-info
              Du har besvaret dagens spørgsmål
          - elsif current_user.answered < Question.all.count && @creating != true
            Dagens Spørgsmål
            = render :partial => 'answers/form'
          - elsif @creating == true

          - else
            %span.label.label-info
              Du har besvaret alle spørgsmål
    .ornament-left
      = image_tag('ornament.png')
    .ornament-right
      = image_tag('ornament.png')
