!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.1", :name => 'viewport'}/
    %title= Julekalender
    = stylesheet_link_tag    "application", media: 'all'
    = stylesheet_link_tag    "print", media: 'print'
    = javascript_include_tag "application"
    = content_for :javascript_includes
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = link_to root_path, :class => 'brand' do
            .icon-star
            UCSyddanmarks Julekalender
            .icon-star
          - if current_user
            - current_user.usertype = 1
            .pull-right{:style => 'color:white;'}
              .span4
                = current_user.name
                - if current_user.usertype == 9
                  = link_to 'Opret spørgsmål', new_question_path, :class => 'btn btn-primary'
                = link_to 'Log ud', '/logout', :class => 'btn btn-warning'
          - else
            .pull-right
              =# link_to 'Tilmeld', '/signup', :class => 'btn btn-danger'
              =# link_to 'Log ind', '/login', :class => 'btn btn-primary'
    .container
      .spacer.head
      %section
        - t = Time.now
        .spacer.large
        - if !current_user && t.month == 12
          = yield
          %hr
          .row
            .span3= link_to 'Vi byder nye nisser velkommen', '/signup', :class => 'btn btn-danger'
          .spacer.large
          .row.span6
            eller hvis du har været her før kan du
            = link_to 'logge ind her.', '/login'
            - if t.month != 12
              %h3 Julekalenderen åbner først til december
        - elsif t.wday.between?(1,5) && t.month == 12
          = yield
          - answered = current_user.answers.where("DATE(answers.created_at) = DATE(?)", Time.now)
          - if answered.count > 0
            %span.label.label-info
              Du har besvaret dagens spørgsmål
          - elsif current_user.answered < Question.all.count && @creating != true
            Dagens Spørgsmål
            = render :partial => 'answers/form'
          - elsif @creating == true
            - if t.wday == 1..4
              %p Du har besvaret dagens spørgsmål, kom igen i morgen for næste spørgsmål
            - elsif t.wday == 5
              %p Du har besvaret dagens spørgsmål, kom igen på Mandag for næste spørgsmål
          - else
            %span.label.label-info
              Du har besvaret alle spørgsmål
          - if current_user.usertype == 9 && current_page?(root_url)
            .spaver.large
            %h4 Overnisse
            %p Du er oprettet som Overnisse her på Julekalenderen, dette betyder at du kan oprette spørgsmål, og senere også vil kunne se resulaterne på de øvrige nissers besvarelser.
            %p Kig øverst i menulinjen i toppen, for at finde dine udvidede muligheder.
            %p
            - if t.month != 12
              -# Julekalenderen starter om
              -# start_date = Time.parse("2012 December 01")
              =# (start_date - t).to_i / 1.day
              -# dage
              %h3 Julekalenderkonkurrencen
              %p Så er det igen blevet hverdag. Spændingen om hvem der vandt 2012’s julekalenderkonkurrence er nu udløst.
              .img-rounded= image_tag "1.jpg"
              %p Der var to kolleger, som havde alle 15 svar rigtige og 9 som havde 14 rigtige.
              %p Det var blandt HHOS og MSLA, at der skulle findes en vinder. Derfor blev der foretaget en lodtrækning mellem disse to. Tekniknissen og Forfatternissen trak lod i Forfatternissens cykelhjælp.
              %p Førstepræmien går til: Majbritt Stenfat Larsen - Udvikling og Forskning Haderslev og andenpræmien til: Hella Hostrup - Biblioteket Esbjerg.
              %p Så var der 9 deltagere med 14 rigtige. Her skulle vinderen af 3. pladsen findes.
              %br …og notarius publicus nissen udtrak vinder nr. 3
              %br …og vinderen blev: Knud Adamsen – It-Afdelingen Haderslev.
              %p Til lykke til de 3 vindere, som får nærmere besked om hvor de kan hente præmierne.
              %p Præmierne vises herunder via links.
              %h3 Præmier
              %p Nu er det ikke for ingenting it-nørde-nisser, som har udvalgt præmierne. Derfor vil nogen måske sige, at de er lidt nørdede ;-) Vi håber, at de alligevel vil falde i god jord.
              %br Præmierne har alle sammen noget med mad at gøre, på den ene eller anden måde.
              %h5 Præmierne er:
              %ol
                %li
                  %a{:href => 'http://www.coolstuff.dk/Veggie-Twister'}
                %li
                  %a{:href => 'http://www.coolstuff.dk/Beep-Egg'}
                %li
                  %a{:href => 'http://www.coolstuff.dk/Magic-Egg'}
              %p Fra Julekalendernisserne skal der lyde en tak til alle deltagere. Der var 101, som besvarede et eller flere spørgsmål. Vi håber, at I også synes, at det var sjovt. Måske gentager vi spøgen næste år?
              %br Vi vil nu tage til Grønland, hvile ud oven på strabadserne, besøge julemanden og tænke over et par tekniske forbedringer og nye spørgsmål til næste års julekalender.
              %p Godt nytår fra Tekniknissen og Forfatternissen

              %h4 Thomas & Åge


            - elsif current_user.answers.count == 0
              %p Du har endnu ikke besvaret et spørgsmål...
            - else
              %p
                Du har indsendt
                = current_user.answers.count
                svar.
        - elsif (t.wday == 6 || t.wday == 0) && t.month == 12
          %p Julekalenderen holder lukket i weekenderne. Kom igen på Mandag for næste spørgsmål
        - else
          - if t.month == 12
            %h3 Julekalenderen er lukket i weekenderne
            %p
              Du har indsendt
              = current_user.answers.count
              svar.
          - else
            %br
            %br
            %h3 Julekalenderkonkurrencen
            .row
              .span4= image_tag "1.jpg", :class => 'img-rounded'
              .span4
                %p Så er det igen blevet hverdag. Spændingen om hvem der vandt 2012’s julekalenderkonkurrence er nu udløst.
                = image_tag "2.jpg", :class => 'img-rounded'
                %p Der var to kolleger, som havde alle 15 svar rigtige og 9 som havde 14 rigtige.
            .row
              .span4= image_tag "3.jpg", :class => 'img-rounded'
              .span4
                %p Det var blandt HHOS og MSLA, at der skulle findes en vinder. Derfor blev der foretaget en lodtrækning mellem disse to. Tekniknissen og Forfatternissen trak lod i Forfatternissens cykelhjælp.
                %p Førstepræmien går til: Majbritt Stenfat Larsen - Udvikling og Forskning Haderslev og andenpræmien til: Hella Hostrup - Biblioteket Esbjerg.
            .row
              .span4= image_tag "4.jpg", :class => 'img-rounded'
              .span4
                Så var der 9 deltagere med 14 rigtige. Her skulle vinderen af 3. pladsen findes.
                %br …og notarius publicus nissen udtrak vinder nr. 3
            .row
              .span4= image_tag "5.jpg", :class => 'img-rounded'
              .span4 …og vinderen blev: Knud Adamsen – It-Afdelingen Haderslev.
            .row
              .span4
              .span8
                %p Til lykke til de 3 vindere, som får nærmere besked om hvor de kan hente præmierne.
                %p Præmierne vises herunder via links.
                %h3 Præmier
                %p Nu er det ikke for ingenting it-nørde-nisser, som har udvalgt præmierne. Derfor vil nogen måske sige, at de er lidt nørdede ;-) Vi håber, at de alligevel vil falde i god jord.
                %br Præmierne har alle sammen noget med mad at gøre, på den ene eller anden måde.
                %h5 Præmierne er:
                %ol
                  %li
                    %a{:href => 'http://www.coolstuff.dk/Veggie-Twister', :target => '_blank'} http://www.coolstuff.dk/Veggie-Twister
                  %li
                    %a{:href => 'http://www.coolstuff.dk/Beep-Egg', :target => '_blank'} http://www.coolstuff.dk/Beep-Egg
                  %li
                    %a{:href => 'http://www.coolstuff.dk/Magic-Egg', :target => '_blank'} http://www.coolstuff.dk/Magic-Egg
                %p Fra Julekalendernisserne skal der lyde en tak til alle deltagere. Der var 101, som besvarede et eller flere spørgsmål. Vi håber, at I også synes, at det var sjovt. Måske gentager vi spøgen næste år?
                %br Vi vil nu tage til Grønland, hvile ud oven på strabadserne, besøge julemanden og tænke over et par tekniske forbedringer og nye spørgsmål til næste års julekalender.
                %p Godt nytår fra Tekniknissen og Forfatternissen

                %h4 Thomas & Åge
    .ornament-left
      = image_tag('ornament.png')
    .ornament-right
      = image_tag('ornament.png')
