!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "width=device-width, initial-scale=1.1", :name => 'viewport'}/
    %title= Julekalender
    = stylesheet_link_tag    "application", media: 'all'
    = javascript_include_tag "application"
    = content_for :javascript_includes
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = link_to root_path, :class => 'brand' do
            .icon-star
            UCSyddanmarks Julekalender
            .icon-star
          - if current_user
            .pull-right{:style => 'color:white;'}
              .span6
                = current_user.name
                - if current_user.usertype == 9
                  = link_to 'Opret spørgsmål', new_question_path, :class => 'btn btn-primary'
                = link_to 'Log ud', '/logout', :class => 'btn btn-warning'
          - else
            .pull-right
              = link_to 'Tilmeld', '/signup', :class => 'btn btn-danger'
              = link_to 'Log ind', '/login', :class => 'btn btn-primary'
    .container
      .spacer.head
      %section
        - t = DateTime.now
        - start = 12
        .spacer.large
        - if !current_user && t.month == start
          = yield
          %hr
          .row
            .span3= link_to 'Vi byder nye nisser velkommen', '/signup', :class => 'btn btn-danger'
          .spacer.large
          .row.span6
            eller hvis du har været her før kan du
            = link_to 'logge ind her.', '/login'
            - if t.mon != start
              %h3 Julekalenderen åbner først til december
        - elsif t.wday.between?(1,5) && t.month == start
          = yield
          .row.span8
            %b
            - yesterday = Answer.where("DATE(answers.created_at) = DATE(?)", Date.yesterday).first
            - if yesterday.present?
              Spørgsmålet fra
              = Date.yesterday
              %br
              - y_question = yesterday.question
              - y_answer = y_question.correct_answer
              %h5 Gårsdagens spørgsmål
              %p
                %strong= y_question.header
                %br
                = y_question.question
                %br
                Svar:
                = y_answer.label
          .row.span8
          - answered = current_user.answers.where("DATE(answers.created_at) = DATE(?)", Time.now)
          - if answered.count > 0
            %span.label.label-info
              Du har besvaret dagens spørgsmål
          - elsif current_user.answered < Question.all.count && @creating != true
            .row.span8
              = render :partial => 'answers/form'
          - elsif @creating == true
            - if t.wday == 1..4
              %p Du har besvaret dagens spørgsmål, kom igen i morgen for næste spørgsmål
            - elsif t.wday == 5
              %p Du har besvaret dagens spørgsmål, kom igen på Mandag for næste spørgsmål
          - else
            %span.label.label-info
              Du har besvaret alle spørgsmål
          - if current_user.usertype == 9 && current_page?(root_url)
            .spacer.large
            %h4 Overnisse
            %p Du er oprettet som Overnisse her på Julekalenderen, dette betyder at du kan oprette spørgsmål, og senere også vil kunne se resulaterne på de øvrige nissers besvarelser.
            %p Kig øverst i menulinjen i toppen, for at finde dine udvidede muligheder.
            %p
            - if t.month != start
              Julekalenderen starter den 1. december.

            - elsif current_user.answers.count == 0
              %p Du har endnu ikke besvaret et spørgsmål...
            - else
              %p
                Du har indsendt
                = current_user.answers.count
                svar.
        - elsif (t.wday == 6 || t.wday == 0) && t.mon == start
          %p Julekalenderen holder lukket i weekenderne. Kom igen på Mandag for næste spørgsmål
        - else
          - if t.month == start
            %h3 Julekalenderen er lukket i weekenderne
            %p
              Du har indsendt
              = current_user.answers.count
              svar.
          - elsif t.month > start && current_user.admin?
            = link_to questions_path, 'Oprettede spørgsmål'
          - elsif t.month < start && 1 == 2
            .spacer.large
            %h1 University College SydDanmarks Julekalender

          - elsif t.month < start
            %h1 University College SydDanmarks Julekalender
            %p
              - if t.month != start
                = yield
                Julekalenderen starter 1. december
      .spacer.large
      .row.span12
        %h3 Nisseservice
        %p Gå ikke glip af vigtige point. Husk at julekalenderen kører helt frem til den 23. december, og at du kan svare hjemmefra, hvis du f.eks. allerede holder ferie fra på fredag.
      .spacer.large
      .row.span12{style: 'text-align: center'}= link_to 'Lodtrækning!', 'gevinster/Julekalender 1.docx', class: 'btn btn-large btn-primary'
      .spacer.large
      .row.span12{style: 'text-align: center'}= link_to 'Vindere!', 'gevinster/Julekalender 3.xlsx', class: 'btn btn-large btn-primary'
      .spacer.large
      .row.span12{style: 'text-align: center'}= link_to 'Besked fra nisserne!', 'gevinster/Julekalender 2.docx', class: 'btn btn-large btn-primary'
      .spacer.large
      .footer
        %h4 Præmier fra alle personaleforeninger.
    .ornament-left
      = image_tag('ornament.png')
    .ornament-right
      = image_tag('ornament.png')
